<head>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>

<div class="jumbotron text-center banner-background"
     style="@(String.IsNullOrEmpty(ViewBag.BannerPicturePath) ?
             "min-width: 300px;" :
             $"")">
    <div>
        @if (!String.IsNullOrEmpty(ViewBag.ProfilePicturePath))
        {
            <img src="@ViewBag.ProfilePicturePath" alt="Profile Picture" style="max-width: 100px; max-height: 100px; border-radius: 50%;" />
        }
        else
        {
            <img src="@ViewBag.DefaultProfilePicturePath" alt="Profile Picture" style="max-width: 100px; max-height: 100px; border-radius: 50%;" />
        }
    </div>
    <div>
        <h1 style="font-family: 'Comfortaa'; color: #000000; text-shadow: 0 0 15px rgb(255 255 255);">@ViewBag.Venue</h1>
    </div>
</div>

<div class="jumbotron text-center" style="font-family: 'Comfortaa'; background-color: transparent; color: #FFFFFF">
    <h3 style="color: #FFFFFF">Estimated wait time:</h3>
    <h3 style="margin-bottom: 50px; color: #FFFFFF">@ViewBag.Message</h3>
    @using (Html.BeginForm("RemoveFromQueue", "Queue", FormMethod.Post))
    {
        <button class="btn btn-red-md" type="submit">Leave Line</button>
    }
</div>

<style>
    .btn-red-md {
        display: block; /* Makes each button a block-level element */
        width: 100%; /* Ensures each button stretches to the full width of its container */
        padding: 14px 20px;
        font-size: 14px;
        line-height: 1.333333;
        color: white;
        background-color: #ff0000;
        border: 0.5px solid #cf0303;
        border-radius: 75px;
        margin-bottom: 10px; /* Adds space between the buttons */
        text-align: center; /* Center the text in the button */
        font-family: 'Comfortaa'
    }

    .jumbotron.banner-background {
        position: relative;
        background-color: #FFFFFF;
        font-family: 'Comfortaa';
        min-width: 300px;
        color: #FFFFFF;
        z-index: -1;
    }

    .jumbotron.banner-background::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url('@ViewBag.BannerPicturePath');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        opacity: 0.5; /* 50% Transparency */
        z-index: -1; /* Ensure the content is above the background */
        font-family: 'Comfortaa'
    }
</style>

<script>
    // Scroll to the bottom of the page when the page is loaded
    window.addEventListener('load', function () {
        window.scrollTo(0, document.body.scrollHeight);
    });
</script>