<div class="jumbotron text-center" style="background-color: transparent; color: #FFFFFF; border-color: transparent; font-family: 'Lato', sans-serif">
    <h1 class="blue-accent" style="font-family: 'Lato', sans-serif; color: #FFFFFF">@ViewBag.Title</h1>
    <!--<p class="lead">Don't wait in line. Select a bar to join a virtual line and we'll let you know when to arrive!</p>-->
    <h3 style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; color: #FFFFFF">Your turn is coming up! You must be ready to enter before the timer expires or else your spot in line will be terminated.</h3>
    <h4 style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; color: #FFFFFF">You will not receive a refund and you will not be permitted entry into the venue.</h4>
    <h1 style="margin-top: 7.5%; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: #FFFFFF" id="timer"></h1>

    <div style="margin-top: 7.5%">
        <button class="btn btn-blue-md" id="checkLocationButton">I am here</button>

        @using (Html.BeginForm("GetExtendConfirmation", "Queue", FormMethod.Post))
        {
            <button class="btn btn-blue-md" type="submit">Extend Time</button>
        }
    </div>
</div>



<script>
    // Function to check the server timer
    function checkServerTimer() {
        fetch('@Url.Action("CheckTimer", "Queue", new { isFromTimerPage = true })')
            .then(response => response.json())
            .then(data => {
                if (data.expired) {
                    clearInterval(timerId);
                    window.location.href = '@Url.Action("RemovedFromLine", "Queue", new { username = ViewBag.username })';
                } else {
                    updateTimerDisplay(data.timeLeft);
                }
            })
            .catch(error => console.error('Error:', error));
    }

    // Function to update the timer display
    function updateTimerDisplay(seconds) {
        var minutes = parseInt(seconds / 60, 10);
        var seconds = parseInt(seconds % 60, 10);

        minutes = minutes < 10 ? "0" + minutes : minutes;
        seconds = seconds < 10 ? "0" + seconds : seconds;

        document.getElementById('timer').textContent = minutes + ":" + seconds;
    }

    // Check server timer immediately when the page loads
    checkServerTimer();

    // Continue checking the server timer every second
    var timerId = setInterval(checkServerTimer, 1000);
</script>

<script>
    var barLatitude = @ViewBag.Latitude;
    var barLongitude = @ViewBag.Longitude;

    document.getElementById('checkLocationButton').addEventListener('click', function() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
                var userLatitude = position.coords.latitude;
                var userLongitude = position.coords.longitude;
                var distance = calculateDistance(userLatitude, userLongitude, barLatitude, barLongitude);

                if (distance <= 250) {
                    // User is within 0.15 miles of the bar, reset timer and redirect
                    resetTimerAndRedirect();
                } else {
                    alert("You are not within 0.25 miles of the bar.");
                }
            }, function(error) {
                alert("Error getting location: " + error.message);
            });
        } else {
            alert("Geolocation is not supported by your browser.");
        }
    });

    function calculateDistance(lat1, lon1, lat2, lon2) {
        var R = 3958.8; // Radius of the Earth in miles
        var dLat = (lat2 - lat1) * Math.PI / 180;
        var dLon = (lon2 - lon1) * Math.PI / 180;
        var a = Math.sin(dLat / 2) * Math.sin(dLat / 2) +
            Math.cos(lat1 * Math.PI / 180) * Math.cos(lat2 * Math.PI / 180) *
            Math.sin(dLon / 2) * Math.sin(dLon / 2);
        var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));
        var distance = R * c;
        return distance;
    }

    function resetTimerAndRedirect() {
        fetch('@Url.Action("ResetTimerAndGrantAccess", "Queue")')
            .then(response => {
                if (response.ok) {
                    window.location.href = '@Url.Action("GrantAccess", "Queue")';
                }
            })
            .catch(error => console.error('Error:', error));
    }

    window.addEventListener('load', function () {
        window.scrollTo(0, document.body.scrollHeight);
    });
</script>

<style>
    .btn-blue-md {
        display: block; /* Makes each button a block-level element */
        width: 100%; /* Ensures each button stretches to the full width of its container */
        padding: 14px 20px;
        font-size: 14px;
        line-height: 1.333333;
        color: white;
        background-color: #2f4d5a;
        border: 4px solid #FFFFFF;
        border-radius: 75px;
        margin-bottom: 10px; /* Adds space between the buttons */
        text-align: center; /* Center the text in the button */
    }
</style>