@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to BarHop</h1>
    <p class="lead">Don't wait in line. Select a bar to join a virtual line and we'll let you know when to arrive!</p>
    <p>
        <a class="btn btn-primary btn-lg" href="@Url.Action("Doggies", "Queue")">Doggies</a>
        <a class="btn btn-primary btn-lg" href="@Url.Action("Pman", "Queue")">Pman</a>
        <a class="btn btn-primary btn-lg" href="@Url.Action("Champs", "Queue")">Champs</a>
        <a class="btn btn-primary btn-lg" href="@Url.Action("Shandygaff", "Queue")">Shandygaff</a>
        <a class="btn btn-primary btn-lg" href="@Url.Action("Phyrst", "Queue")">Phyrst</a>
    </p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>The BarHop Advantage</h2>
        <p>
            BarHop is a revolutionary mobile application designed to redefine
            the nightlife experience in college towns and beyond. Our mission is
            simple yet impactful: to provide a cost-effective and efficient solution
            for bar-goers to avoid long queues, while simultaneously offering bars an
            additional stream of revenue and a way to manage crowds more effectively.
        </p>
        <!--<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>-->
    </div>
    <div class="col-md-4">
        <h2>Innovative Features</h2>
        <p>BarHop’s user-friendly interface allows customers to easily select a bar and secure a 
        spot in a virtual line. The app provides real-time updates on wait times and sends notifications 
        to users 15 minutes before their estimated arrival. With options to extend their wait time or withdraw 
        with a partial refund, BarHop prioritizes user convenience and flexibility.</p>
        <!--<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>-->
        </div>
    <div class="col-md-4">
        <h2>Learn More About US</h2>
        <p>Learn more about our team and how we strive to make the bar-going experience simpler and affordable!</p>
        <p><a class="btn btn-default" href="@Url.Action("AboutUs", "Home")">Learn more &raquo;</a></p>
    </div>
    </div>
