<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <title>@ViewBag.Title - BrewQueue</title>
    <link href="~/Content/custom.css" rel="stylesheet" type="text/css" />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="full-page-gradient">
    
        @*<div class="navbar-container">
            <div class="navbar navbar-inverse navbar-fixed-bottom" style="background: #142730; border-color: #FFFFFF; width: 100%;">
                <div class="container-fluid">
                    <ul class="nav navbar-nav navbar-center">
                        <li>@Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link", @style = "color: #FFFFFF; font-family: 'Comfortaa'" })</li>
                        <li>@Html.ActionLink("Queue", "MyQueue", "Queue", null, new { @class = "nav-link", @style = "color: #FFFFFF; font-family: 'Comfortaa'" })</li>
                        <li>@Html.ActionLink("Account", "MyAccount", "Home", null, new { @class = "nav-link", @style = "color: #FFFFFF; font-family: 'Comfortaa'" })</li>
                    </ul>
                </div>
            </div>
        </div>*@
    
    <div class="container body-content" style="padding-bottom: 10px; padding-top: 10px; background-color: transparent">
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    @*<script>
    function checkUserPosition() {
        fetch('@Url.Action("GetUserPosition", "Queue")')
            .then(response => response.json())
            .then(data => {
                if (data.position >= 0 && data.position < 6 && !data.timerStarted) {
                    clearInterval(positionCheckInterval);
                    window.location.href = '@Url.Action("startTimer", "Queue")';
                }
            })
            .catch(error => console.error('Error:', error));
    }

    var positionCheckInterval = setInterval(checkUserPosition, 10000); // Check every 10 seconds
    </script>

    <script>
    function checkServerTimer() {
        fetch('@Url.Action("CheckTimer", "Queue", new { isFromTimerPage = false })')
            .then(response => response.json())
            .then(data => {
                if (!data.isAuthenticated) {
                    clearInterval(timerId);
                    return;
                }
                if (!data.isInQueue) {
                    clearInterval(timerId);
                    return;
                }
                if (data.expired) {
                    clearInterval(timerId);
                    window.location.href = '@Url.Action("RemovedFromLine", "Queue")';
                }
            })
            .catch(error => console.error('Error:', error));
    }

    var timerId = setInterval(checkServerTimer, 1000); // Check every second
    </script>*@

    <script>
        function adjustBackgroundSize() {
            var screenHeight = window.innerHeight;
            document.body.style.backgroundSize = '100% ' + screenHeight + 'px';
        }

        window.onload = adjustBackgroundSize;
        window.onresize = adjustBackgroundSize;
    </script>

    <style>
        .navbar-container {
            display: flex;
            justify-content: center;
            width: 100%;
            background: #142730
        }

        .navbar {
            border-color: #FFFFFF;
            flex-basis: auto; /* Adjust as needed */
        }

        .navbar-center {
            display: flex;
            justify-content: center;
            width: 100%;
        }

        .full-page-gradient {
            background-attachment: fixed;
            @*background: #142730;*@
            background: #1e1e1e;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-height: 100vh; /*Set the height to 100% of the viewport height */
            margin: 0 auto; /* Centers the container horizontally */
            max-width: 95%; /* Adjust the maximum width as needed */
            width: 100%;
        }
    </style>
</body>
</html>